In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999

In [2]:
df = pd.read_parquet('/shared/rsaas/nschiou2/FOS/python/phase_data/pc/bandpass_only/phase_all_filt_chan.parquet')

In [3]:
df.replace(0, np.nan, inplace=True)

In [13]:
total_df = pd.DataFrame(columns=['subject', 'montage', 'n_trials', 'viable_channels'])

for subject in df.subject_id.unique():
    for montage in df.montage.unique():
        trial_result = dict()
        trial_result['subject'] = subject
        trial_result['montage'] = montage
        
        subset = df[(df['subject_id'] == subject) & (df['montage'] == montage)]
        subset = subset.loc[:, [c for c in subset.columns if c.startswith('ph')]]
        subset = subset.dropna(axis=1, how='all')
        trial_result['n_trials'] = subset.shape[0]
        trial_result['viable_channels'] = subset.shape[1] / 3
        
        total_df = total_df.append(trial_result, ignore_index=True)

In [20]:
total_df.sort_values(['subject', 'montage'], axis=0, inplace=True)
total_df.reset_index(drop=True, inplace=True)

In [ ]:
total_df

    subject montage n_trials  viable_channels
0       127       a      460        21.000000
1       127       b      460        32.000000
2       127       c      460        34.000000
3       127       d      460        35.000000
4       127       e      414        34.000000
5       127       f      460        34.000000
6       127       g      460        22.000000
7       127       h      460        24.000000
8       130       a      460        26.000000
9       130       b      460        37.000000
10      130       c      414        43.000000
11      130       d      460        22.000000
12      130       e      437        30.000000
13      130       f      460        25.000000
14      130       g      437        26.000000
15      130       h      368        21.000000
16      146       a      460        29.000000
17      146       b      460        27.000000
18      146       c      437        28.000000
19      146       d      460        30.000000
20      146       e      460        28.000000
21      146       f      460        37.000000
22      146       g      437        25.000000
23      146       h      460        32.000000
24      149       a      437        18.000000
25      149       b      460        27.000000
26      149       c      460        19.000000
27      149       d      460        27.000000
28      149       e      460        19.000000
29      149       f      460        25.000000
30      149       g      460        12.000000
31      149       h      460        31.000000
32      150       a      460        29.000000
33      150       b      460        34.000000
34      150       c      437        24.000000
35      150       d      460        34.000000
36      150       e      391        26.000000
37      150       f      460        28.000000
38      150       g      460        28.000000
39      150       h      460        26.000000
40      151       a      460        26.000000
41      151       b      460        22.000000
42      151       c      414        26.000000
43      151       d      460        24.000000
44      151       e      460        29.000000
45      151       f      460        34.000000
46      151       g      460        24.000000
47      151       h      460        28.000000
48      152       a      460        34.000000
49      152       b      460        32.000000
50      152       c      460        30.000000
51      152       d      460        34.000000
52      152       e      460        29.000000
53      152       f      460        26.000000
54      152       g      460        32.000000
55      152       h      460        27.000000
56      153       a      460        30.000000
57      153       b      460        31.000000
58      153       c      437        30.000000
59      153       d      460        32.000000
60      153       e      460        29.000000
61      153       f      460        26.000000
62      153       g      460        32.000000
63      153       h      460        24.000000
64      154       a      460        31.000000
65      154       b      460        38.000000
66      154       c      460        34.000000
67      154       d      460        33.000000
68      154       e      460        33.000000
69      154       f      460        24.000000
70      154       g      414        32.000000
71      154       h      460        29.000000
72      155       a      414        28.000000
73      155       b      414        33.000000
74      155       c      460        26.000000
75      155       d      460        31.000000
76      155       e      414        34.000000
77      155       f      391        30.000000
78      155       g      437        29.000000
79      155       h      437        33.000000
80      157       a      460        30.000000
81      157       b      437        32.000000
82      157       c      460        32.000000
83      157       d      460        31.000000
84      157       e      460        25.000000
85      157       f      460        24.000000
86      157       g      460        29.000000
87      157       h      460        21.000000
88      505       a      414        36.000000
89      505       b      460        32.000000
90      505       c      460        31.000000
91      505       d      460        28.000000
92      505       e      437        32.000000
93      505       f      460        25.000000
94      505       g      437        32.000000
95      505       h      460        23.000000
96      516       a      460        38.000000
97      516       b      460        35.000000
98      516       c      460        32.000000
99      516       d      460        29.000000
100     516       e      460        29.000000
101     516       f      460        17.000000
102     516       g      460        26.000000
103     516       h      460        19.000000
104     527       a      460        33.000000
105     527       b      460        27.666667
106     527       c      460        30.000000
107     527       d      460        35.000000
108     527       e      391        26.000000
109     527       f      437        28.000000
110     527       g      437        26.000000
111     527       h      460        32.000000
112     534       a      460        35.000000
113     534       b      460        33.000000
114     534       c      437        27.000000
115     534       d      460        34.000000
116     534       e      414        32.000000
117     534       f      460        30.000000
118     534       g      460        28.000000
119     534       h      460        38.000000

In [22]:
total_df.groupby('subject').sum()

         viable_channels
subject
127           236.000000
130           230.000000
146           236.000000
149           178.000000
150           229.000000
151           213.000000
152           244.000000
153           234.000000
154           254.000000
155           244.000000
157           224.000000
505           239.000000
516           225.000000
527           237.666667
534           257.000000

In [23]:
total_df.groupby('montage').sum()

         viable_channels
montage
a             444.000000
b             472.666667
c             446.000000
d             459.000000
e             435.000000
f             413.000000
g             403.000000
h             408.000000